<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="PL DXF Vision"
    Language="1033"
    Version="1.0.1"
    Manufacturer="Robot App Platform"
    UpgradeCode="E20543B6-7FF4-41FE-A74A-72151302F30D">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Description="PL DXF Vision installer" />

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of PL DXF Vision is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="packaging/vision_dxf_exporter/PLDxfVision.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="PL DXF Vision" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PL DXF Vision" />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="1E09A6B2-08D9-4D8A-9228-B31A52667734">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="PL DXF Vision"
          Description="Launch PL DXF Vision"
          Target="[INSTALLFOLDER]PLDxfVision.exe"
          Icon="AppIcon.ico"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Robot App Platform\PL DXF Vision"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="PL DXF Vision" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>
